html {
  scrollbar-width: 16px;
  --text-color: hsla(0, 0%, 97%, 0.85);
  --gray: #202020;
  --brand: #98f43b;
  background: var(--gray);
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  background: var(--gray);
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 874px;
  z-index: 3;
}

.containerGrid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 24px;
  width: 80%;
  max-width: 1200px;
}

.hero {
  display: flex;
  position: relative;
  height: 600px;
  align-items: center;
  justify-content: center;
}

.images {
  padding: 64px 0;
  padding-top: 16px;
  display: flex;
  align-items: start;
  justify-content: center;
  z-index: 2;
}

.heroImage {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 150%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: saturate(0);
  opacity: 0.2;
}

.heroImage::after {
  content: "";
  height: 300px;
  width: 100%;
  background: linear-gradient(to top, var(--gray), transparent);
  position: absolute;
  bottom: 0;
  left: 0;
}

h1 {
  font-size: 3em;
  margin: 0;
  text-align: center;
  background-image: linear-gradient(
    to right,
    var(--text-color) 33%,
    white,
    var(--text-color) 66%
  );
  color: transparent;
  background-clip: text;
  background-size: 600% 100%;
  background-position-x: 100%;
  animation: headerSweep 6s ease-in-out infinite;
  letter-spacing: 24px;
  text-align: center;
}

.logo{
  width: 400px;
  height: 300px;
  z-index: 2;
  position: absolute;
  mix-blend-mode:luminosity;
}


.zero {
  color: var(--text-color);
  font-size: 24px;
  opacity: 0.64;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
}

.gloss::before {
  background: hsla(0, 0%, 97%, 0.03);
  box-shadow: inset 2px 4px 16px 0 hsla(0, 0%, 97%, 0.06),
    0 24px 24px -16px rgba(5, 5, 5, 0.09), 0 6px 13px 0 rgba(5, 5, 5, 0.1),
    0 6px 4px -4px rgba(5, 5, 5, 0.1), 0 5px 1.5px -4px rgba(5, 5, 5, 0.25);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  z-index: -1;
  width: 100%;

  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000;
  transform: translate3d(0, 0, 0);
  transform: translateZ(0);
}

.gloss::after {
  border: 2px solid hsla(0, 0%, 100%, 0.05);
  -webkit-mask-image: linear-gradient(178deg, #000, transparent 75%);
  mask-image: linear-gradient(178deg, #000, transparent 75%);
  pointer-events: none;
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
}

.mobile .gloss::before {
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  background: linear-gradient(
    to bottom right,
    var(--gray),
    color-mix(in srgb, var(--gray), transparent 80%)
  );
}

@keyframes headerSweep {
  from {
    background-position-x: 100%;
  }

  to {
    background-position-x: 0%;
  }
}

@media (max-width: 1400px) {
  .containerGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1000px) {
  .containerGrid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .containerGrid {
    width: 90%;
    grid-gap: 16px;
  }

  .hero {
    height: 400px;
  }
}
